.forgot-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../assets/backg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.forgot-password-container {
    width: 350px;
    margin:  auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .forgot-password-container h2 {
        margin-bottom: 20px;
        color: #14b8a6;
        font-weight: bold;
    }

    .forgot-password-container input {
        width: 100%;
        padding: 10px 14px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
        color: #333;
        font-size: 15px;
        box-sizing: border-box;
        outline: none;
        transition: border 0.2s ease-in-out;
    }

        .forgot-password-container input:focus {
            border-color: #14b8a6;
        }

    .forgot-password-container button {
        width: 100%;
        padding: 12px;
        background-color: #14b8a6;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 12px;
        font-size: 15px;
        transition: background-color 0.3s ease;
    }

        .forgot-password-container button:hover {
            background-color: #109e93;
        }

.error-msg {
    color: #842029;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-top: 12px;
    font-size: 14px;
}

.success-msg {
    color: #0f5132;
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 12px;
    font-size: 14px;
}

.plain-msg {
    color: #14b8a6;
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
}
