.main-layout {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-image: url('../../assets/backg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.layout-body {
    display: flex;
    height: calc(100vh - 120px); /* adjust based on Navbar + Footer height */
    background-color: transparent;
}

/* Rename to avoid conflict with Sidebar.jsx */
.layout-sidebar-wrapper {
    width: 250px;
    background-color: #f5f6d7ba;
    color: white;

    border-radius:10px;
}

/* Main content area */
.layout-content {
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
    background-color: transparent;
}
